<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>BuildSystem</title>
        
        <link rel="stylesheet" href="./public/css/style.css">
    </head>
    
    <body class="page-index">
        
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        
        <div class="wrapper">
            <header class="banner" role="banner">
                <div class="banner_inner">
                    <div class="branding">
                        <h1 class="site-title">BuildSystem</h1>
                    </div>
                </div>
            </header>
        </div>
        
        <script src="./public/js/build.js"></script>
    </body>
</html>